<?xml version="1.0" encoding="UTF-8"?>
<!--
  ARAN+ for Samsung Tizen TVs.
  Keep the package id (ARANplus01) and application id stable forever: a different id
  installs as a different app and loses Continue Watching (stored in localStorage).
  The version must match package.json (tools/build.mjs checks).
-->
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets"
        id="https://github.com/CrumbsAndCravings/Samsung-IPTV-Player" version="0.5.1" viewmodes="maximized">
    <tizen:application id="ARANplus01.ARANplus" package="ARANplus01" required_version="5.0"/>
    <tizen:profile name="tv-samsung"/>
    <content src="index.html"/>
    <icon src="icon.png"/>
    <name>ARAN+</name>
    <description>A cosy IPTV player for movies and series from an Xtream Codes provider.</description>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/avplay"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/productinfo"/>
    <access origin="*" subdomains="true"/>
    <tizen:setting screen-orientation="landscape" context-menu="disable" background-support="disable"
                   encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
